@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

body {
	padding: 55px;
}

li {
	list-style: none;
}

.center {
	margin: 0px auto;
}

.david_brand {
	color: #ffffff;
	background-color: #3498db;
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 600;
}

.featured_listings {
	background-color: #2980b9;
	padding-bottom: 5px;
}

.featured_listings div {
	border: solid 2px gray;
	padding: 3px;
	background-color: #fff
}

.gray_text {
	color: gray;
}

.white_text {
	color: #fff;
}

