@import 'bootstrap';
@import 'bootstrap-responsive';
@import "flat-ui";

a:link {
	text-decoration: none !important;
}

body {
	padding-top: 40px;
}

li {
	list-style: none;
}

.about_us {
	background-color: #34495e;
	color: #fff;
	padding: 3px;
}

.agent_circle {
	max-height: 250px;
}

.center {
	margin: 0px auto;
}

.clear {
	clear: both;
}

.david_brand {
	color: #fff !important;
	background-color: #3498db;
	display: block;
	float: left;
	padding: 20px;
	margin-left: -20px;
	margin-bottom: -5px;
	font-size: 20px;
}

.featured_listings {
	background-color: #2980b9;
	padding: 5px;
}

.featured_listings div {
	/*border: solid 2px gray;*/
	padding: 3px;
	background-color: #fff
}

.featured_listings div:hover {
	box-shadow: 0px 0px 5px #fff;;
}

.featured_listings div:hover .price {
	color: #F49E09;
}

.featured_listings img {
	max-height: 202px;
}

.gray_text {
	color: gray;
}

.orange_text {
	color: #F49E09;
	text-decoration: none;
}

.price {
	background-color: #000;
	position: absolute;
	color: #fff;
	padding: 10px;
	float: left;
	font-size: 1.75em;
	margin-left: -15px;
	margin-top: -15px;
}

.white_text {
	color: #fff;
}

